#include <jni.h>
#include <string>

extern "C" JNIEXPORT jstring JNICALL
Java_com_example_hilmi_MainActivity_getAzureKey(JNIEnv *env, jobject /* this */) {
    std::string api_key = "API_KEY"; 
    return env->NewStringUTF(api_key.c_str());
}

extern "C" JNIEXPORT jstring JNICALL
Java_com_example_hilmi_MainActivity_getAzureRegion(JNIEnv *env, jobject /* this */) {
    std::string region = "eastus";
    return env->NewStringUTF(region.c_str());
}